nav { 
    margin-bottom: 1rem;
}

a { 
    margin-right: 0.5rem; 
    text-decoration: bold; 
    font-weight: bold;
    color: #0f68c8; 
    font-size: large;
}

a:hover { 
    text-decoration: underline; 
}